<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div>

    <div>
      <form action="/orders" class="form-inline" method="get" th:object="${orderSearch}">

        <div class="form-group mb-2">
          <input class="form-control" placeholder="회원명" th:field="*{memberName}" type="text"/>
        </div>

        <div class="form-group mx-sm-1 mb-2">
          <select class="form-control" th:field="*{orderStatus}">
            <option value="">주문상태</option>
            <option th:each="status : ${T(jpaproject.jpa.domain.OrderStatus).values()}"
                    th:text="${status}"
                    th:value="${status}">option
            </option>
          </select>
        </div>

        <button class="btn btn-primary mb-2" type="submit">검색</button>
      </form>

    </div>


    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>회원명</th>
        <th>상품 이름</th>
        <th>상품 분류</th>
        <th>주문 가격</th>
        <th>주문 수량</th>
        <th>상태</th>
        <th>일시</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order : ${allOrders}">
        <td>
          <table>
            <tbody>
            <tr th:each="orderItem : ${order.orderItems}">
              <td th:text="${order.id}"></td> <!-- 주문 번호 -->
              <td th:text="${order.member.name}"></td> <!-- 사용자 이름 -->
              <td th:text="${orderItem.item.name}"></td> <!-- 상품 이름 -->
              <td th:text="${orderItem.item.dtype}"></td> <!-- 상품 분류 -->
              <td th:text="${orderItem.orderPrice}"></td> <!-- 주문 가격 -->
              <td th:text="${orderItem.count}"></td> <!-- 주문 수량 -->
              <td th:text="${order.status}"></td> <!-- 상태 -->
              <td th:text="${order.orderDate}"></td> <!-- 일시 -->
              <td>
                <a class="btn btn-danger" href="#"
                   th:href="'javascript:cancel('+${order.id}+')'"
                   th:if="${order.status.name() == 'ORDER'}">CANCEL</a>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>


  </div>

  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>

<script>
  function cancel(id) {
  var form = document.createElement("form");
  form.setAttribute("method", "post");
  form.setAttribute("action", "/orders/" + id + "/cancel");
  document.body.appendChild(form);
  form.submit();
  }
</script>
</html>


